[Desktop Entry]
Name=Firefox-bin
Name[en_US]=Firefox-bin
GenericName=Web Browser
GenericName[en_US]=Web Browser
Comment=Mozilla Firefox vendor binary packaged for BFSOS
Exec=firefox-bin %U
Terminal=false
Type=Application
Icon=firefox-bin
Categories=Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
